@import 'footer.css';
@import 'loading.css';
@import 'pagination.css';
@import 'modal.css';
@import 'movie-content.css';
@import 'navbar.css';

@import url('http://fonts.googleapis.com/css?family=Lora|Ubuntu:300,400,500');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lora', sans-serif;
  background-color: #e2e2e2;
}

html { 
  scroll-behavior: smooth;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #bba637;
}

.checked {
  color: gold;
}
